@model VendingMachine.Core.Model.Machine

@{
    ViewBag.Title = "Details";
}

<h2> Vending machine <strong>@Model.Alias</strong> </h2>

<div>
    <h4> Detalhes </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <th> Produto </th>
        <th> Valor </th>
    </tr>
</table>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
